*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
   
}
.body1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100%;
  }
  .main {
    width:600px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    height: 80%;
    overflow-y: scroll;
  }  
  .main::-webkit-scrollbar{
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
  }
  .container h4{
    font-weight:600;
    font-size: 35px;
    margin-top: 20px;
    font-family: sans-serif;
    color: #242424;
  }
  
  .google {
    background-color: white;
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #dedede;
    padding: 8px 12px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;

  }
  .google:hover{
    background-color:rgb(231, 231, 253);
    cursor: pointer;
  }
  .google a{
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
  }
  .apple {
    background-color:white;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid  #dedede;;
    padding: 8px 12px;
    border-radius: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 10px;
    width:60%;
  }
  .apple:hover{
    background-color:#e6e4e4;
    cursor: pointer;
  }
  
  .para {
    font-size: 16px;
    color: #5e5e5e;
    margin-top: 10px;
    margin-bottom: 10px;

    /* width: 60%; */

    /* display: flex; */
  }
  
  .Formfiled {
    margin-top: 10px; 
    width: 60%;
  }
  .Formfiled>input{
    padding:15px;
    /* min-width:270px; */
    margin-bottom: 10px;
    color: #5e5e5e; 
    text-align: center;
    outline: none;
    width: 100%;
  }
  .Formfiled>input:hover::placeholder{
     color:  #1da1f2;
  }
  .Formfiled>input:hover {
    outline: 2px solid #1da1f2;
  }
  .move {
    background-color:black;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 8px 12px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }
  .move:hover{
    background-color: #343434;
    cursor: pointer;
  } 
  
  .pass {
    background-color: white;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    width:60%;
    border: thin solid rgb(212, 212, 212);
    border-radius: 20px;
    padding: 5px 12px ;
    font-weight: 500;
    font-size: bold;
    
  }
  .pass:hover{
    background-color:#e6e4e4; 
    cursor: pointer;

  }
  .heading {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .email {
    margin-top:10px;
    width: 60%;
    background-color: #e6e4e4;
  }
  
  .anotherpaas {
    margin-top: 10px;
    width: 100%;
    background-color:#e6e4e4 ;
  }
  
  .anotherPage {
    background-color:black;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 8px 12px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-top: 8rem;
    width: 100%;
  }
  .anotherPage:hover{
    cursor: pointer;
    background-color:#1da1f2;
  }
  
  .span1 {
    font-size: 16px;
    color: #5e5e5e;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .span2{
    color: #1da1f2;
  }
  .span2:hover{
    text-decoration: underline;
    color:blue;
    cursor: pointer;
  }