/* .start{
    width: 25%;
    margin-left: auto;
}

.firstcontainer h2 {
    margin-left: auto;
    margin-top: 10px;
}
.firstComp{
    align-items: end;
    border-radius:10px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin:25px ;
    padding: 35px;
    width: 450px;
    height:750px;
    background-color: rgb(173, 168, 168);
}
.datapart ul {
    list-style: none;    
    margin-block:4rem;
    margin-top: 0px;
}
.datapart ul  li{
list-style: none; 
} */
/* RightSide.module.css */

.start {
    display: flex;
    /* justify-content: center; */
    width:100%;
    height: 100vh;
    
  }
  
  .firstcontainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;

  }
  .firstcontainer h2 {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    width: 32%;
  }
  
  .firstComp {
    background-color: #f5f8fa;
    border-radius: 16px;
    padding: 16px;
    width: 70%;
    /* height:500px; */

  }
  
  .datapart {
    margin-top: 10px;
  }
  
  .datapart ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 12px;
  }
  
  .datapart li:first-child {
    color: #1da1f2;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  .datapart li:first-child>p:hover{
    border-radius:50%;
    background-color: #8fcef5;
    cursor: pointer;
    padding:  0 3px;
   
  }
  
  .datapart li:nth-child(2){
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
  }
  
  .datapart li:nth-child(3) {
    font-size: 12px;
    color: #657786;
    margin-bottom: 6px;
  }
  
  .datapart  {
    color: #657786;
    margin-left: 6px;
    vertical-align: middle;
  }
  .btnPart>button{
    border: none;
    color: rgb(145, 183, 244);
    font-size: 16px;
    font-weight:500;
    background: transparent;
  }
  .btnPart{
    padding:8px 0px;
  }
  .btnPart>button:hover{
    cursor: pointer;
    color: #1da1f2;
  }