.apple_btn{
    border: none;
    outline: none;
    background-color: white;

    width: 100%;
    padding: 10px 20px;

    border: 1px solid rgb(200, 199, 199);
    border-radius: 23px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0;
}

/* .apple_btn img{
    height: 20px;
    background:transparent;
} */
.apple_btn span{
    font-weight: bold;
    font-size: 16px;
    margin-left: 5px;
}