.feeds_main_container{
    padding: 10px ;
    padding-right: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid gray;


    display: flex;
}
.feeds_main_container:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.feeds_main_container > div{
    margin-right: 10px;
}

.feeds_content_header{
    display: flex;
    justify-content: space-between;
}
.feeds_content_header > div{
    display: flex;
    align-items: center;
}


.feeds_content_imgDiv{
    margin: 20px 0;

    height: 70vh;
    width: 100%;
}
.feeds_content_imgDiv > img{
    border-radius: 23px;
    height: 100%;
    width: 100%;
}


.feeds_content_activity{
    width: 80%;
    height: ;
    display: flex;
    justify-content: space-between;
}
.feeds_content_activity > p{
    display: flex;
    align-items: center;
    margin: 0;
}
.feeds_content_activity > p > span{
    margin-left: 10px;
}

.feeds_loadMoreBtn{
    display: block;
    width: 30%;
    margin: 20px auto;

    outline: none;
    border: none;
    
    padding: 12px 24px;
    background-color: rgb(154, 210, 247);

    font-weight: bold;
    color: white;
}
.feeds_loadMoreBtn:hover{
    padding: 13px 26px;
    width: 31%;
    transition: 0.5s;
    background-color: rgb(94, 186, 247);
    cursor: pointer;
}