.formContainer{
  height: calc(65vh-1em);
  width: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  margin-left: "1.5em";
  
  
}
.dobContainer{
  width: 88%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 1rem;
}
.header{
  margin-top: 5rem;
  margin-left:3rem;
}

.signUp_btn{
    outline: none;
    border: none;

    border: 1px solid white;
    border-radius: 23px;
    font-weight: bold;
    font-size: 15px;

    padding: 10px 20px;
    margin-left: 20px;
}
.signUp_btn:hover{
  background-color:rgb(221, 221, 221);
  cursor: pointer;
}

