.sidebar{
    border-right: 1px solid #e6ecf0;

    /* min-width: 250px; */

    margin-left: 20px;
    margin-right: 0px;
    width: 20%;
    
    min-height: 100vh;
    position: relative;
}

.sidebar > div{
    position: fixed;
}


.sidebar_twitterIcon{
    color: #50b7f5;
    font-size: 30px  !important;    
    margin: 10px 20px;
    margin-bottom: 20px;
}

.sidebar_tweet{
    background-color: #50b7f5 !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
    width: 90% !important;
}