.tweetBox{
    /* padding-bottom: 10px; */
    border-bottom: 1px solid gray;
    /* padding-right: 10px; */
}

.tweetBox > form {
    display: flex;
    flex-direction: column;
}

.tweetBox_input{
    padding: 20px;
    display: flex;
    align-items: center;
}

.tweetBox_input > textarea {
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
    width: 100%;
}

textarea::-webkit-scrollbar{
    display: none;
}
.tweetBox_input > textarea::placeholder {
    color: #1c3242;
    font-size: 1.2em;
    font-style: italic;
    
   
  }

.tweetBox_tweetButton{
    background-color: #50b7f5 !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 40px !important;
    /* margin-top: 20px !important; */
    width: 80px !important;
    margin-left: auto !important;
}

.tweetBox_input > img{
    height: 50px;
    width: 50px;
}

