.sidebarOptions > a{
    display: flex;
    align-items: center;
    cursor: pointer;

    color: black;
    text-decoration: none;
}


.sidebarOptions > a:hover{
    background-color: #e8f5fe;
    border-radius: 42px;
    /* color: blue */
    color: #50b7f5;

    transition: color 100ms ease-in;


}

.sidebarOptions> a> .MuiSvgIcon-root{
    /* padding: 15px;
    font-size: 30px; */
    padding: 20px;
    font-size: 60px;
}

.sidebarOptions > a > h2 {
    font-weight: 750;
    font-size: 20px;
    margin-right: 20px;
    
}

