.Cross{
    padding-left: 20px;
    cursor: pointer;
    padding: 5px;
}

.tweetBoxInput{
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
    width: 100%;
}

.tweet-icons{
    margin-top: 5px;
    display: flex;
    gap: 8px;
}

/* .textArea {
    width: 90%;
} */

