/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height:100vh;
  border: 2px solid #0c87c8;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 18px;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'] {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  
  border-radius: 5px;
  
  border: 2px solid #ccc;
}

input[type='checkbox'] {
  margin-right: 10px;
}

button[type='submit'] {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 18px;
  background-color: #1da1f2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button[type='submit']:hover {
  background-color: #0c87c8;
} */
